* {
    box-sizing: border-box;
    color: rgb(200, 200, 200);
    justify-content: center;
    align-items: center;
    text-align: center;
    font-weight: bold;
    font-size: 30px;
    min-width: 75px;
    min-height: 75px;
    font-family: 'Roboto slab', Tahoma, Arial, Helvetica, sans-serif;
}

div {
    display: flex;
    width: 105px;
}

.div2 {
    display: flex;
    width: auto;
    height: auto;
}

table {
    width: 75*3px;
    height: 75*3px;
}

td {
    width: 75px;
    height: 75px;
    background-color: rgb(50, 50, 50);
}
